body {
    font-size: 15pt;
}
.topnav {
  background-color: green;
  overflow: hidden;
} 
.topnav a{
  float: left;
  color: indigo;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 
.guy {
  height:200px; 
 border-radius: 100px; 
} 
body {
 background-color: goldenrod;
} 